@font-face {
    font-family: "Poppins-Medium";
    src: url('../../fonts/font_course/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/font_course/Poppins-Medium.woff') format('woff');
  font-style: normal;
 }
 @font-face {
    font-family: 'Poppins';
    src: url('../../fonts/font_course/Poppins.woff2') format('woff2'),
        url('../../fonts/font_course/Poppins.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../fonts/font_course/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/font_course/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
